@charset "UTF-8";
/* ---------------------------
--------- variables ----------*/
/* ---------------------------
--------- social network ----------*/
/* Share Bar */
#share-bar {
  font-size: 15px; }

/* Title */
#share-bar h4 {
  margin-bottom: 10px;
  font-weight: 500; }

/* All buttons */
/* Each button */
.share-button {
  margin: 0px;
  margin-bottom: 10px;
  margin-right: 3px;
  border: 1px solid #D3D6D2;
  padding: 5px 10px 5px 10px; }

.share-button:hover {
  opacity: 1;
  color: #ffffff; }

/* Facebook button */
.fa-facebook-official {
  color: #3b5998; }

.fa-facebook-official:hover {
  background-color: #3b5998; }

/* Twitter button */
.fa-twitter {
  color: #55acee; }

.fa-twitter:hover {
  background-color: #55acee; }

/* Google-PLus button */
.fa-google-plus {
  color: #dd4b39; }

.fa-google-plus:hover {
  background-color: #dd4b39; }

/* LinkedIn button */
.fa-linkedin {
  color: #007bb5; }

.fa-linkedin:hover {
  background-color: #007bb5; }

/* ---------------------------
--------- style ----------*/
body {
  background-color: #fff !important;
  color: #294659 !important; }

header {
  background-color: #6AAECD !important; }

h1 {
  font-size: 2em !important;
  margin-left: 35px !important;
  color: #fff !important; }

h2 {
  font-size: 1em !important; }

h3 {
  font-size: 1.5em !important;
  font-weight: 800;
  color: #DD453C !important; }

h4 {
  font-size: 1.5em !important; }

h5 {
  line-height: 1.3em !important; }

a {
  color: #6AAECD !important; }

a:hover {
  color: #DD453C !important;
  text-decoration: none !important; }

.highlited span {
  background-color: #6AAECD; }

li {
  color: #294659; }

li:hover {
  /* hover state */ }

li:active {
  /* click state */ }

li.active {
  /* after click state */ }

.responsive {
  max-width: 100%; }

hr {
  color: #294659;
  margin-top: 0; }

.header-container {
  display: flex;
  flex-direction: column;
  padding: 1em 0; }

header ul li {
  display: inline-block;
  padding: 0 1.4em 0 0;
  font-size: 0.9em; }

header ul li a {
  text-decoration: none;
  color: #fff !important; }

li a.active {
  color: #294659;
  border-bottom: 2px solid #294659;
  font-weight: 300; }

@media (min-width: 992px) {
  .col-md-border:not(:last-child) {
    border-right: 1px solid #d7d7d7; }

  .col-md-border + .col-md-border {
    border-left: 1px solid #d7d7d7;
    margin-left: -1px; } }
.project {
  transition: all 0.4s ease-out;
  border-right: 1px #294659; }

.news {
  transition: all 0.4s ease-out; }

.team {
  transition: all 0.4s ease-out; }

.post-lead {
  font-size: 1.2rem; }

.enlarge p {
  display: none; }

.padding {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%; }

/* ---------------------------
--------- progects ----------*/
.photo {
  height: 100vh;
  position: relative;
  width: 100% !important;
  overflow: hidden; }

.butt {
  color: #6AAECD !important;
  position: relative;
  margin-bottom: 20px !important;
  background-color: #EDE9EC !important; }

h5.highlited {
  margin-top: 40px;
  color: #fff !important; }

h5.highlited span {
  padding: 3px !important;
  background-color: #DD453C !important; }

/* ----------------------------
--------------team ----------*/
.team-img {
  max-width: 200px; }

.team-descript-name {
  margin-top: -30px;
  margin-right: 30px;
  margin-bottom: 50px;
  color: #DD453C; }

.team-descript {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-top: 50px; }

.hor-line {
  border-right: 1px solid grey; }

/* ---------------------------
--------- news page ----------*/
.content {
  margin-top: 30px; }

.page-title {
  margin-top: 30px; }

/* ------------------------------------
------------- carousel --------------*/
.glyphicon .glyphicon-chevron-right:before {
  content: "▶";
  color: grey; }

.glyphicon .glyphicon-chevron-left:before {
  content: "◀";
  color: grey; }

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #6AAECD;
  border: 1px solid #fff;
  border-radius: 10px; }

.carousel-control {
  width: 0 !important; }

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: 20px !important; }

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: 20px !important; }

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  padding: 3px;
  text-decoration: none;
  color: initial; }

/*# sourceMappingURL=style.css.map */
