@charset "UTF-8";
/* ---------------------------
--------- variables ----------*/
/* ---------------------------
--------- social network ----------*/
/* Share Bar */
@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  #share-bar {
    font-size: 15px !important; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  #share-bar {
    font-size: 20px !important; } }

/* Title */
#share-bar h4 {
  margin-bottom: 10px;
  font-weight: 500; }

/* All buttons */
/* Each button */
.share-button {
  margin: 0;
  margin-bottom: 10px;
  margin-right: 3px;
  border: 1px solid #D3D6D2;
  padding: 5px 10px 5px 10px; }

.share-button:hover {
  opacity: 1;
  color: #ffffff; }

/* Facebook button */
.fa-facebook-official {
  color: #121714; }

.fa-facebook-official:hover {
  background-color: #3b5998; }

/* Twitter button */
.fa-twitter {
  color: #121714; }

.fa-twitter:hover {
  background-color: #55acee; }

/* Google-PLus button */
.fa-google-plus {
  color: #dd4b39; }

.fa-google-plus:hover {
  background-color: #dd4b39; }

/* LinkedIn button */
.fa-linkedin {
  color: #007bb5; }

.fa-linkedin:hover {
  background-color: #007bb5; }

/* ---------------------------
--------- style ----------*/
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background-color: #FFFAFA !important;
  color: #121714 !important;
  font-family: "Sofia Pro", sans-serif !important; }

#container {
  min-height: 100%;
  position: relative; }

header {
  background-color: #121714 !important; }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  #prefooter {
    height: 100px; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  #prefooter {
    height: 200px; } }

#footer {
  position: absolute;
  padding: 30px;
  bottom: 0;
  margin-top: 50px;
  width: 100%;
  min-height: 60px;
  /* Height of the footer */
  background: #121714; }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  p {
    font-size: 1.3rem !important; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  p {
    font-size: 2rem !important; } }

p.foot {
  font-size: 1.1rem;
  color: white; }

a.foot {
  color: white;
  border-bottom: 1px dashed; }

a.foot:hover {
  color: #121714; }

h1 {
  font-size: 3rem !important;
  text-align: center;
  color: #FFFAFA !important; }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    h1 {
      font-size: 4rem !important; } }

h1.small {
  font-size: 2rem !important;
  color: #FFFAFA !important; }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    h1.small {
      font-size: 3rem !important; } }

h2 {
  color: #121714;
  letter-spacing: 4px;
  text-transform: uppercase;
  z-index: 2000 !important;
  line-height: 3.4rem;
  font-weight: 400;
  border: 1px solid #121714;
  padding: 5px; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    h2 {
      font-size: 1.3rem !important; } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    h2 {
      font-size: 3rem !important; } }

@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .xs-top-margin {
    margin-top: 10vh !important; } }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .xs-top-margin {
    margin-top: 0 !important; } }

h3 {
  font-weight: 800;
  color: #121714 !important; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    h3 {
      font-size: 1.8rem !important; } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    h3 {
      font-size: 3.5rem !important; } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  h4 {
    font-size: 1.8rem !important; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  h4 {
    font-size: 4rem !important; } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  h5 {
    font-size: 1.5rem !important; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  h5 {
    font-size: 2.2rem !important; } }

a {
  color: #121714 !important; }

a:hover {
  color: #121714 !important;
  text-decoration: none !important; }

.highlited span {
  background-color: #121714; }

li {
  color: #121714; }

li:hover {
  /* hover state */ }

li:active {
  /* click state */ }

li.active {
  /* after click state */ }

.responsive {
  max-width: 100%; }

hr {
  color: #121714;
  margin-top: 0; }

.header-container {
  display: flex;
  flex-direction: column;
  padding: 1em 0; }

.header-container a {
  font-size: 1.3rem !important; }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .header-container a {
      font-size: 1.8rem !important; } }

header ul li {
  display: inline-block;
  padding: 0 1.4em 0 0;
  font-size: 1rem; }

header ul li a {
  text-decoration: none;
  color: #FFFAFA !important; }

li a.active {
  color: #121714;
  border-bottom: 2px solid #121714;
  font-weight: 300; }

@media (min-width: 992px) {
  .col-md-border:not(:last-child) {
    border-right: 1px solid #d7d7d7; }

  .col-md-border + .col-md-border {
    border-left: 1px solid #d7d7d7;
    margin-left: -1px; } }
.project {
  transition: all 0.4s ease-out;
  border-right: 1px #121714; }

.carousel {
  width: 100% !important; }

.news {
  transition: all 0.4s ease-out; }

.team {
  transition: all 0.4s ease-out; }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .post-lead {
    font-size: 1.3rem !important; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .post-lead {
    font-size: 2.5rem !important; } }

.enlarge p {
  display: none; }

.padding {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%; }

/* ---------------------------
--------- projects ----------*/
.photo {
  height: 100vh;
  position: relative;
  width: 100% !important;
  overflow: hidden; }
  @media (max-width: 1024px) and (orientation: portrait), (max-width: 767px) and (orientation: portrait), (max-width: 374px) and (orientation: portrait) {
    .photo {
      height: 50vh; } }

.butt {
  color: #121714 !important;
  position: relative;
  margin-bottom: 20px !important;
  background-color: #EDE9EC !important; }

h5.highlited {
  margin-top: 50px;
  margin-bottom: 20px !important;
  color: #FFFAFA !important; }

h5.highlited span {
  padding: 3px !important;
  background-color: #121714 !important; }

/* ----------------------------
--------------team ----------*/
@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .team-img {
    max-width: 200px; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .team-img {
    max-width: 350px; } }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .team-img {
    max-width: 150px; } }

.team-descript-name {
  margin-top: -30px;
  margin-right: 30px;
  color: #121714; }

.team-descript {
  font-size: 1.2rem;
  margin-left: 20px; }

.hor-line {
  border-right: 1px solid grey; }

/* ---------------------------
--------- news page ----------*/
.content {
  margin-top: 30px; }

.page-title {
  margin-top: 30px; }

/* ------------------------------------
------------- carousel --------------*/
.glyphicon .glyphicon-chevron-right:before {
  content: "тЦ╢";
  color: grey; }

.glyphicon .glyphicon-chevron-left:before {
  content: "тЧА";
  color: grey; }

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #121714;
  border: 1px solid #FFFAFA;
  border-radius: 10px; }

.carousel-control {
  width: 0 !important; }

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: 20px !important; }

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: 20px !important; }

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  padding: 3px;
  text-decoration: none;
  color: initial; }

/*-------------------------
------page about us------*/
h6.about-us {
  margin-top: 100px;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: grey;
  letter-spacing: 5px; }

.text {
  margin-top: 15px !important;
  font-style: italic;
  color: #121714;
  text-align: right;
  cursor: hand;
  font-size: 0.9rem; }

svg {
  position: absolute;
  width: 100%; }
  svg path {
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: draw;
    animation-timing-function: linear; }
    svg path.case {
      stroke: #38393b;
      stroke-dasharray: 9556;
      stroke-dashoffset: 9556;
      animation-duration: 4s;
      animation-delay: 1s; }
    svg path.cooler {
      stroke-dasharray: 420;
      stroke-dashoffset: 420;
      animation-duration: 2s;
      animation-delay: 3s; }
    svg path#structure {
      stroke: #999;
      stroke-dasharray: 680;
      stroke-dashoffset: 680;
      animation-duration: 3s;
      animation-delay: 2s; }

@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
@keyframes show {
  to {
    opacity: 1; } }
/* -------------------------
   basic
----------------------------- */
ul {
  list-style-type: none;
  padding: 0; }

li.withborder {
  border: 1px solid #dfe0e2;
  margin-bottom: 10px;
  padding: 5px;
  color: #121714; }

li.withborder:hover {
  background-color: #ecedef;
  font-weight: 500; }

/* --------------------------------
   section appearance animation
-------------------------------- */
@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .top-top {
    padding-top: 15vh;
    height: 80vh; } }
@media (max-width: 1024px) and (orientation: portrait), (max-width: 767px) and (orientation: portrait), (max-width: 374px) and (orientation: portrait) {
  .top-top {
    padding-top: 0;
    height: 30vh; } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .full-width {
    height: 90vh; } }

.animation-element {
  padding-top: 5%;
  opacity: 0;
  position: relative; }

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px); }

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.sub-menu {
  position: absolute;
  z-index: 1000; }

.sub-menu li {
  display: none; }

img {
  max-width: 100%; }

#c {
  width: 100%;
  margin-bottom: 10px;
  height: auto; }

#backimg {
  margin-bottom: 10px;
  transition: all 0.3s; }

.report {
  margin-top: 50px; }

/*# sourceMappingURL=style.css.map */
