
/* ---------------------------
--------- variables ----------*/
//colors
$main-text: #121714;
$base: #FFFAFA;
$color: #121714;
$middle: #121714;
$hover: #f9f7d4;



//media-queries
$brk-xlarge: '(max-width: 2570px)';
$brk-large: '(max-width: 1440px)';
$brk-medium: '(max-width: 1285px)';
$brk-narrow: '(max-width: 1024px)' ;
$brk-spnarrow: '(max-width: 767px)';
$brk-iphone: '(max-width: 374px)';


//fonts
@font-face {
  font-family: 'Bliss-Pro';
  src: url('{{ site.baseurl }}/fonts/BlissPro.eot');
  src: url('{{ site.baseurl }}/fonts/BlissPro.woff'),
       url('{{ site.baseurl }}/fonts/BlissPro.ttf');
}

@font-face {
  font-family: "Bliss-Pro";
  src: url("{{ site.baseurl }}/fonts/BlissPro-Bold.ttf"),
       url("{{ site.baseurl }}/fonts/BlissPro-Bold.eot"),
       url("{{ site.baseurl }}/fonts/BlissPro-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Bliss-Pro";
  src: url("{{ site.baseurl }}/fonts/BlissPro-Italic.ttf"),
       url("{{ site.baseurl }}/fonts/BlissPro-Italic.eot"),
       url("{{ site.baseurl }}/fonts/BlissPro-Italic.woff");
  font-style: italic;
}


//ця штука генерує потрібні класи для всіх потрібних варіантів margin та padding
$spaceamounts: (0, 10, 20, 30, 40, 50, 70, 100, 150); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}



* {
  -webkit-transition: all 0.2s ease;
}


/* ---------------------------
--------- social network ----------*/
/* Share Bar */
#share-bar {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size: 15px!important;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 20px!important;
  }
}

/* Title */
#share-bar h4 {
  font-weight: 500;
}


/* Each button */
.share-button {
  border: 1px solid #D3D6D2;
}

.share-button2 {
  margin-right: 3px;
  border: 1px solid #D3D6D2;
  padding: 5px 10px 5px 10px;
}

.share-button:hover {
  opacity: 1;
  color: #ffffff;
}

/* Facebook button */
.fa-facebook-official {
  color: $color;
}

.fa-facebook-official:hover {
  background-color: #3b5998;
}

/* Twitter button */
.fa-twitter {
  color: $color;
}
.fa-twitter:hover {
  background-color: #55acee;
}

.fa-telegram:hover {
  background-color: #55acee;
}


/* ---------------------------
--------- style ----------*/


body {
  margin:0;
  padding:0;
  height: 100%;
  position: relative;
  background-color: $base!important;
  color:$main-text!important;
  font-family: "Bliss Pro", sans-serif !important;
}


.project_target, .news_target {
  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-bottom:150px;
  }

}

#container {
  min-height:100%;
  position:relative;
}

header {
  background-color: $color !important;
}

p, li {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size: 16px;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 20px;
  }
}

p.foot {
  font-size: 13px;
  color:white!important;
  border-bottom:1px $base!important;
}

a.foot {
  color:white!important;

}

a.foot:hover {
  color:$base!important;
  border-bottom:1px $base!important;
}

h1 {
  font-size:3.0rem!important;
  letter-spacing:3px;
  text-align: center;
  width:100%!important;
  color:$base!important;
  font-weight: 400!important;

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 4.0rem!important;
  }
}

h1.m-0{
  align-self: center;
}

h1.small {
  font-size: 1.7rem!important;
  letter-spacing:3px;
  color:$base!important;

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 2.4rem!important;
  }
}

.subtitle {
  color: $middle;
  letter-spacing: 4px;
  text-transform:uppercase;
  z-index: 2000 !important;
  font-weight: 400;
  font-size:20px!important;
  line-height: 36px!important;
}


h2.subtitle span {
  border: 1px solid $color;
  padding: 5px;
}


.subtitleBorder {
  border: 1px solid $color;
  padding: 5px;
}


h2 {
  color: $middle;
  letter-spacing: 3px;
  text-transform:uppercase;
  z-index: 2000 !important;
  font-weight: 400;
  font-size:20px!important;
  line-height: 36px!important;
}

h3 {
  font-weight: 800!important;
  margin-top:0!important;
  color:$middle!important;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium}
   {
    font-size: 2.0rem!important;
    line-height: 2.0rem;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 3.0rem!important;
  }
}

h3.donors {
  line-height: 1.6;
}

h4 {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size: 2.3rem!important;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 3.7rem!important;
  }
}

h5 {
  margin-top: 0!important;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size: 1.5rem!important;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 2.2rem!important;
  }
}

a {
  color: $color !important;

}

a:hover {
  color: $color !important;
  text-decoration: none!important;
  border-bottom: 1px solid black;
}

.no-hover {
  text-decoration: none!important;
  border-bottom: none;
}

.highlited span {
  background-color: $color;
}


.responsive {
  max-width:100%
}

hr {
  color:$main-text;
  margin-top: 0;
}

.header-container {
  text-transform:uppercase;
}

.header-table {
  width:100%;
  list-style: none;
}

table.header-table tr td {
  text-transform:uppercase;

}

table.header-table tr td:nth-child(1){
  text-align: center;
  border-right: 2px solid $color;
  width:25%;
}

table.header-table tr td:nth-child(2){
  text-align: center;
  border-right: 2px solid $color;
  width:25%;
}

table.header-table tr td:nth-child(3){
  text-align: center;
  width:25%;
  border-right: 2px solid $color;
}
table.header-table tr td:nth-child(4){
  text-align: center;
  width:25%;
}


@media (min-width: 992px) {
  .col-md-border:not(:last-child) {
    border-right: 1px solid #b7b7b7;
  }
  .col-md-border + .col-md-border {
    border-left: 1px solid #b7b7b7;
    margin-left: -1px;
  }
}


.left-border {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    border-left:1px solid #b7b7b7;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    border-left: 0;
  }
}

.top-border {
  border-top: 1px solid #b7b7b7;
}


.carousel {
  max-width:100%!important;
  height:auto;
}


.post-lead {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size: 1.6rem!important;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 2.5rem!important;
  }

}

.padding {
  margin-left:2vw;
  margin-right:2vw;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:90%;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width: calc(100% - 4vw);
  }
}


/* ---------------------------
--------- projects ----------*/


.photo img {
  height: 40vh;
  margin-bottom: 20px;
  width: 100%!important;

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    height: 30vh;
  }
}

.photo video {
  min-width: 100%;
  height: 40%;
  overflow: hidden;
  margin-bottom: 10px;
}


.butt {
  color:$color!important;
  position:relative;
  background-color: #EDE9EC !important; }


h5.highlited {
  margin-bottom: 20px!important;
  color:$base!important;
}

h5.highlited span {
  padding: 3px!important;
  background-color: $middle!important;
}


/* ----------------------------
--------------team ----------*/

.team-img {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    max-width: 200px;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    max-width: 350px;

  }

  @media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    max-width: 150px;
  }
}

h5.team-descript-name  {
  margin-top: -30px!important;
  margin-right: 30px;
  font-weight: 800!important;
  color: $middle;
}


.hor-line {
  border-right: 1px solid grey;
}

/* ---------------------------
--------- news page ----------*/


img.news.arrow-left, img.news.arrow-right {
  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    display:none;
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: -30px 0 100px 0!important;
  border-radius: 4px;
}


/* ------------------------------------
------------- carousel --------------*/

//.glyphicon .glyphicon-chevron-right:before {
//  content: '';
//  color: $base;
//  display:none!important;
//}
//
//.glyphicon .glyphicon-chevron-left:before {
//  content: "";
//  color: $base;
//  display:none!important;
//}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: $base;
  border: 1px solid $base;
  border-radius: 10px; }

.carousel-control {
  width: 100px!important;
  height: 40vh!important;
}

a.carousel-control.right, a.carousel-control.left  {
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%)!important;
}

a.carousel-control.right:hover {
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0.1) 100%)!important;
  border-bottom: 0!important;
}

a.carousel-control.left:hover  {
    background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,0.1) 100%)!important;
    border-bottom: 0!important;
  }



.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: 20px!important; }

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: 20px!important; }

.carousel-control .glyphicon-chevron-left, .carousel-control
.glyphicon-chevron-right, .carousel-control .icon-next,
.carousel-control .icon-prev {
  position: absolute;
  top: 150px;
  z-index: 5;
  display: none!important;
  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    top: 40%;
  }
}



a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  padding:3px;


  text-decoration: none;
  color:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                initial;
}


/*-------------------------
------page about us------*/


svg {
  width:100%;

  path {
    //stroke-width: 0.5;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: draw;
    animation-timing-function: linear;
    &.case {
      stroke: #38393b;
      stroke-dasharray: 9556;
      stroke-dashoffset: 9556;
      animation-duration: 4s;
      animation-delay: 1s;
    }
    &.cooler {
      //stroke: #ddd;
      stroke-dasharray: 420;
      stroke-dashoffset: 420;
      animation-duration: 2s;
      animation-delay: 3s;
    }
    &#structure {
      stroke: #999;
      stroke-dasharray: 680;
      stroke-dashoffset: 680;
      animation-duration: 3s;
      animation-delay: 2s;
    }
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}



/* -------------------------
   basic
----------------------------- */

ul.list-style-type-none {
  list-style-type: none;
}

li.withborder {
  padding:5px;
  color:$color;
}

li.withborder:hover {
  font-weight: 800;
}

/* --------------------------------
   section appearance animation
-------------------------------- */

img {
  max-width: 100%;
}

#backimg {
  margin-top: 40px;

}


//page finance

.report {
  margin-top:50px;
}


.fa-list,
.fa-image,
.fa-long-arrow-left,
.fa-long-arrow-right {
    margin-top:40px!important;
}

.fa {

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size:20px;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size:30px!important;
  }

}

#list {
  display:none;
}


#collapseOne, #collapseTwo, #collapseThree {
  background-color: $base!important;
}

//Partners page

#logoOne {
  display:grid;
  grid-template-columns: minmax(100px, 150px) minmax(100px, 120px) minmax(120px, 170px) minmax(160px, 200px);
  grid-gap:10px;
  align-items: center;
}

#logoTwo {
  display:grid;
  grid-template-columns: minmax(100px, 150px) minmax(100px, 150px) minmax(100px, 150px);
  grid-gap:15px;
  align-items: center;
}

#logoThree {
  display:grid;
  grid-template-columns: minmax(100px, 150px);
  grid-gap:10px;
  align-items: center;
}

#logoFour {
  display:grid;
  grid-template-columns: minmax(100px, 200px);
  grid-gap:10px;
  align-items: center;
}

#logoFive {
  display:grid;
  grid-template-columns: minmax(150px, 200px);
  grid-gap:10px;
  align-items: center;
}

.donor-logo {
  width:100%;
  grid-column: span 1;
}

.brussel {
  margin-top: 40px;
  border: 1px solid $color;
  padding: 5px;

  @media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    margin-top: 40px!important;
  }

  @media
  #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-top: 150px;
  }
}

//footer
#prefooter {
  height:100px;
}

#footer {
  position: absolute;
  padding: 30px;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background: #121714;
}
