---
layout: "wrapper"
---

<div class="container">
    <div class="row report" >
        <div class="col-md-6">
            <p>
            <a href="http://texty.org.ua/pdf/Zvit_2014.pdf" target="_blank">Річний звіт 2014</a>
            </p>

            <p><a href="http://texty.org.ua/pdf/Zvit_2015.pdf" target="_blank">Річний звіт 2015</a></p>

            <p><a href="http://texty.org.ua/pdf/Zvit_2016_ukr.pdf" target="_blank">Річний звіт 2016 (укр)</a></p>

            <p><a href="http://texty.org.ua/pdf/Zvit_2016_eng.pdf" target="_blank">Annual report 2016 (eng)</a></p>

            <p><a href="http://texty.org.ua/pdf/Zvit_2017_ukr01.pdf" target="_blank">Річний звіт 2017</a></p>


        </div>

    </div>
</div>