---
layout: wrapper
---

<div class="container-fluid">
    <div class="row top-border">
        <div class="project_target col-md-4 col-md-border">
            <div class="padding">

                <div class="row">
                    <div class="col-md-6">
                        <h2><span>Проекти</span></h2>
                    </div>
                    <div class="col-md-6">
                        <div class="text">
                            <!--<i class="project fa fa-long-arrow-right" style="font-size:20px"></i>-->

                        </div>
                    </div>
                </div>

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!--<ol class="carousel-indicators">-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
                    <!--</ol>-->

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <!---Carpathians-->
                        <div class="item active">
                            <div class="photo">
                                <img class="carousel" src="{{ site.baseurl }}/assets/img/projects/svydovec2.gif"/>
                                <h3><span><a class="no-hover" href="http://texty.org.ua/d/carpathians-3d/" target="_blank">Cвидовець. Анатомія Карпат</a></span></h3>
                                <p>Розповідь про те, як влаштовані Карпати. Про вирубки, напівлегальні туристичні бази,
                                    полонини, скелі та едельвейси, проблеми гірського району та його перспективи.</p>
                                <a type="button" href="http://texty.org.ua/d/carpathians-3d/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>


                        <!---fb-trolls-->
                        <div class="item">
                            <div class="photo">
                                <img class="carousel" src="{{ site.baseurl }}/assets/img/projects/trolls.jpg"/>
                                <h3><span>Тролесфера</span></h3>
                                <p>«Тексти» вирахували мережу з близько 2 тисяч користувачів Фейсбуку, яка тісно
                                    пов’язана із групами бойовика ДНР Степана Мазури. Це мережа з публічних груп та
                                    користувачів, які, прикриваючись патріотичними слоганами, поширювали заклики до
                                    перевороту та протестів.</p>

                                <a type="button" href="http://texty.org.ua/d/fb-trolls/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---kiev-buildings-->
                        <div class="item">
                            <div class="photo">
                                <img class="carousel"
                                     src="{{ site.baseurl }}/assets/img/projects/kyiv-buildings.png"/>
                                <h3><span><a class="no-hover" href="http://texty.org.ua/d/buildings-kyiv/#17/50.46504/30.52256"
                                             target="_blank">Київські розвалини. Інтерактивна карта покинутих будівель Києва</a></span>
                                </h3>
                                <p>Розбиті вікна, покалічені, але міцні стіни, закутані у традиційний зелений паркан.
                                    Декілька секунд стою нерухомо і змушую себе пробратись через поламану огорожу і
                                    зайти в середину </p>

                                <a type="button" href="http://texty.org.ua/d/buildings-kyiv/#17/50.46504/30.52256"
                                   target="_blank" class="btn btn-link butt">Перейти до проекту</a>


                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---zakupivli-->
                        <div class="item">
                            <div class="photo">

                                <img class="carousel" src="{{ site.baseurl }}/assets/img/projects/zakupivli2.png"/>
                                <h3><span>Zакупівлі 2.0</span></h3>
                                <p>Аналіз сотень тисяч «протоколів розкриття цінових пропозицій» у Віснику державних
                                    закупівель дав змогу вирахувати три класичні схеми, які застосовувалися, щоб
                                    вигравати тендери до 2015 року. Принаймні один із цих старих методів
                                    використовується і зараз.</p>
                                <a type="button" href="http://z.texty.org.ua/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>


                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---yanukovych-travel-uz-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/1.jpg"/>
                                <h3><span>Громадяни пасажири</span></h3>

                                <p>Як, куди і скільки їздили українці міжміським сполученням «Укрзалізниці» у 2014-2015
                                    рр.</p>
                                <a type="button" href="http://texty.org.ua/d/uz/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>


                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---socio-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/head-socio.png"/>
                                <h3><span>Продавці рейтингів.База псевдосоціологів</span></h3>
                                <p>ТЕКСТИ зібрали дані про 80 псевдосоціологічних служб та 88 осіб, які оприлюднювали
                                    сумнівні результати протягом останніх 15 років. </p>
                                <a type="button" href="http://texty.org.ua/d/socio/index.html" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>


                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>


                        <!---dnipro-->
                        <div class="item">
                            <div class="photo">

                                <video autoplay loop="true">
                                    <source src="http://texty.org.ua/d/longs/dnipro2/dnipro.webm"
                                            type="video/webm">
                                </video>
                                <h3><span>Вкрадений Дніпро. Як киян позбавили доступу до ріки</span></h3>
                                <p>У Києві лише 15% берегів Дніпра доступні містянам для прогулянок чи купання в річці.
                                    Все інше — це чагарники, паркани, дороги, промзони.</p>
                                <a type="button" href="http://texty.org.ua/d/longs/dnipro2/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>


                            </div>

                        </div>


                        <!---avia-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/avia.jpg"/>
                                <h3><span>Зліт дозволено</span></h3>
                                <p>Проект являє собою інтерактивний он-лайн інструмент, в якому зібрана інформація про
                                    надані права на міжнародні рейси, умови міжнародних угод про повітряне сполучення,
                                    дані розкладів деяких авіакомпаній.</p>
                                <a type="button" href="http://avia.texty.org.ua/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                        </div>


                        <!---coal-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/coal.jpeg"/>
                                <h3><span>Зима близько. Стеж за запасами вугілля</span></h3>
                                <p>Чи достатньо накопичено запасів на зиму, чи очікувати відключення електроенергії та
                                    купувати буржуйки і дрова? Наш онлайн-інструмент показує щоденний стан справ на
                                    складах ТЕЦ і ТЕС.</p>
                                <a type="button" href="http://coal.texty.org.ua/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                        </div>

                        <!---che-zno-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/che-zno.png"/>
                                <h3><span>На околицях навчають гірше. Як чернівецькі школярі складають ЗНО</span></h3>
                                <p>Чи достатньо накопичено запасів на зиму, чи очікувати відключення електроенергії та
                                    купувати буржуйки і дрова? Наш онлайн-інструмент показує щоденний стан справ на
                                    складах ТЕЦ і ТЕС.</p>
                                <a type="button" href="http://texty.org.ua/d/che_zno/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                        </div>

                        <!---vinnytsa-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/vinytsa.png"/>
                                <h3><span>Вінниця комунальна</span></h3>
                                <p>Як швидко міські служби Вінниці реагують на телефонні звернення</p>
                                <a type="button" href="http://texty.org.ua/d/varta_vin/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>
                            </div>
                        </div>


                        <div class="item">
                            <div class="photo">
                                <video autoplay loop="true">
                                    <source src="http://texty.org.ua/video/maidan_maps/maidan-bg-blacked.mp4"
                                            type="video/mp4">
                                </video>
                                <h3><span>Три дні перед весною</span></h3>

                                <p>Хто, коли і де загинув на Майдані 18–20 лютого 2014 року.</p>
                                <a type="button" href="http://texty.org.ua/d/maidan_maps/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </div>


                        <div class="item">
                            <div class="photo">
                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/pension.png"/>
                                <h3><span>Признач собі пенсію</span></h3>
                                <p>І перевір, чи держава зможе її виплатити. Ключовий показник — розмір «дірки» у
                                    бюджеті Пенсійного фонду.</p>
                                <a type="button" href="http://texty.org.ua/d/pension-game/#" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>


                            </div>
                            <div class="carousel-caption">

                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


            </div>
        </div>


        <div class="news_target col-md-4 col-md-border">
            <div class="padding">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="xs-top-margin"><span>Новини</span></h2>
                    </div>
                    <div class="col-md-6">
                        <div class="text">
                            <i class="news fa fa-long-arrow-right" style="font-size:20px"></i>
                        </div>
                    </div>
                </div>
                {% for post in paginator.posts %}

                <h5 class="highlited"><span>{{ post.heading }}</span></h5>
                <h4><a class="no-hover" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
                <p> {{ post.date | date: "%-d-%m-%Y" }}
                <p>
                <p class="post-lead"> {{ post.lead }} </p>

                <!--social icons-->
                <div id="share-bar">

                    <div class="share-buttons">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ post.url }}"
                           onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                           title="Share on Facebook">
                            <i class="fa fa-facebook-official share-button"></i>
                        </a>

                        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.baseurl }}{{ post.url }}"
                           onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                           title="Share on Twitter">
                            <i class="fa fa-twitter share-button"></i>
                        </a>

                        <!--<a href="https://plus.google.com/share?url={{ site.baseurl }}{{ post.url }}"-->
                        <!--onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"-->
                        <!--title="Share on Google+">-->
                        <!--<i class="fa fa-google-plus share-button"> google</i>-->
                        <!--</a>-->

                        <!--<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.baseurl }}{{ post.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"-->
                        <!--onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"-->
                        <!--title="Share on LinkedIn">-->
                        <!--<i class="fa fa-linkedin share-button"> linkedin</i>-->
                        <!--</a>-->


                    </div>

                </div><!--end of social icons-->

                {% endfor %}

                <!-- pagination -->
                {% if paginator.total_pages > 1 %}
                <div class="pagination">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;
                        Prev</a>
                    {% else %}
                    <span>&laquo; Попередня</span>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                    <span class="webjeda">{{ page }}</span>
                    {% elsif page == 1 %}
                    <a href="/">{{ page }}</a>
                    {% else %}
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{
                        page }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Наступна &raquo;</a>
                    {% else %}
                    <span>Next &raquo;</span>
                    {% endif %}
                </div>
                {% endif %}

            </div>
        </div>


        <div class="team_target col-md-4">
            <div class="padding">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="xs-top-margin"><span>Команда</span></h2>
                    </div>
                    <div class="col-md-6">
                        <div class="text">
                            <i class="team" style="font-size:20px"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img style="margin-top:-40px!important;" class="team-img" src="{{ site.baseurl }}/assets/img/roman.png"/>

                            </td>
                            <td>
                                <p class="team-descript" style="margin-top:-40px!important;">Виконавчий директор ГО «Агенція журналістики даних», головний
                                    редактор ТЕКСТІВ. Цінує хороші тексти і вчасні дедлайни.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Роман<br><span
                                        style="text-transform: uppercase;">Кульчинський</span> </b></h5>

                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Roman-->


                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/tolik.png"/>
                            </td>
                            <td>
                                <p class="team-descript"> Заступник головного редактора, керівник напрямку журналістики
                                    даних та інфографіки. Учасник журі на світовому конкурсі з інфографіки
                                    "Малофей-22"(2014 рік.) </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Анатолій<br><span
                                        style="text-transform: uppercase;">Бондаренко</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Tolik-->

                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/sashko.png"/>

                            </td>
                            <td>
                                <p class="team-descript">Аналітик даних. Збір і аналіз даних. Керівник проекту
                                    «Вкрадений Дніпро». Досліджує доступність публічного простору в Києві, маніпуляції
                                    громадською думкою.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Олександр<br><span
                                        style="text-transform: uppercase;">Оксимець</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Sashko-->


                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/vlad.png"/>

                            </td>
                            <td>
                                <p class="team-descript">Програміст. Скрейпінг, обробка даних, аналіз даних. Також
                                    створює інтерактивні візуалізації з d3.js, фанатіє від роботи з картами. Цікавиться
                                    аналізом даних соціальних мереж.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Влад<br><span
                                        style="text-transform: uppercase;">Герасименко</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Sashko-->

                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/galyna.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Керівник проектів. Відповідає за організаційний розвиток та
                                    роботу з донорами. Має досвід роботи в бізнесі.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Галина<br><span
                                        style="text-transform: uppercase;">Пастух</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Galyna-->

                    <!-- Kelm-->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/kelm.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Дизайнер, працює з векторною і растровою графікою, картами,
                                    супутниковими знімками, створює 3d-моделі місцевостей.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Надя<br><span
                                        style="text-transform: uppercase;">Кельм</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Kelm-->

                    <!-- Tymoshenko-->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/tymoshenko.png"/>
                            </td>
                            <td>
                                <p class="team-descript">SMM. Веде сторінки організації в соціальних мережах.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Олександра<br><span
                                        style="text-transform: uppercase;">Тимошенко</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Tymoshenko-->

                    <!-- Romanenko-->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/romanenko_new.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Аналітик даних. Соціолог. Досліджує соціальні мережі,
                                    пропаганду, фейки.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Надія<br><span
                                        style="text-transform: uppercase;">Романенко</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Романенко-->


                    <!-- Drozdova-->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/drozdova2.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Аналітик даних, журналіст, дизайнер.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Євгенія<br><span
                                        style="text-transform: uppercase;">Дроздова</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Drozdova-->

                    <!-- Dmytro-->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/dmytro.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Івент-менеджер. Планує і координує круглі столи,
                                    прес-конференції, дискусії, презентації, різноманітні освітні заходи.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Дмитро<br><span
                                        style="text-transform: uppercase;">Колесник</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Dmytro-->


                </div>


            </div>
        </div>
    </div>
    <div id="prefooter"></div>
</div>

<script>
    $('.carousel').carousel()

</script>

<!--{% for file in site.static_files %}-->
<!--{% if file.image %}-->

<!--<img src="{{ file.path }}" alt="{ file.name }">-->

<!--{% endif %}-->
<!--{% endfor %}-->