---
layout: wrapper
---

<div class="container-fluid">
    <div class="row">
        <div class="project col-md-4 col-md-border">
            <div class="padding">
                <h2>Проекти</h2>

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="photo">
                                <h3 class="highlited"><span>Три дні перед весною</span></h3>
                                <p>Today we want to show you how to create a simple blur effect for text-based items. The idea is</p>
                                <button class="butt">Лінк на проект</button>
                                <video autoplay loop="true">
                                    <source src="http://texty.org.ua/video/maidan_maps/maidan-bg-blacked.mp4"
                                            type="video/mp4">
                                </video>
                            </div>
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="photo">
                                <h3 class="highlited"><span>Змієві вали</span></h3>
                                <p>Today we want to show you how to create a simple blur effect for text-based items. The idea is</p>
                                <button class="butt">Лінк на проект</button>

                                <video autoplay loop="true">
                                    <source src="http://texty.org.ua/d/zmiyevi-valy/video/starting-valy.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <h3 class="highlited"><span>Три дні перед весною</span></h3>
                                <p>Хто, коли і де загинув на Майдані</p>
                                <button class="butt">Лінк на проект</button>

                                <video autoplay loop="true">
                                    <source src="http://texty.org.ua/video/maidan_maps/maidan-bg-blacked.mp4"
                                            type="video/mp4">
                                </video>
                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <h3 class="highlited"><span>Змієві вали</span></h3>
                                <p>Хто, коли і де загинув на Майдані</p>
                                <button class="butt">Лінк на проект</button>

                                <video autoplay loop="true">
                                    <source src="http://texty.org.ua/d/zmiyevi-valy/video/starting-valy.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div class="carousel-caption">

                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>








            </div>
        </div>





        <div class="news col-md-4 col-md-border">
            <div class="padding">
                <h2>Останні новини</h2>
                {% for post in paginator.posts %}

                <h5 class="highlited"><span>{{ post.heading }}</span></h5>
                <h4><a href="{{ post.url | prepend site.baseurl }}">{{ post.title }}</a></h4>
                <p> {{ post.date | date: "%-d-%m-%Y" }}
                <p>
                <p class="post-lead"> {{ post.lead }} </p>

                {% endfor %}

                <!-- pagination -->
                {% if paginator.total_pages > 1 %}
                <div class="pagination">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                    {% else %}
                    <span>&laquo; Попередня</span>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                    <span class="webjeda">{{ page }}</span>
                    {% elsif page == 1 %}
                    <a href="/">{{ page }}</a>
                    {% else %}
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Наступна &raquo;</a>
                    {% else %}
                    <span>Next &raquo;</span>
                    {% endif %}
                </div>
                {% endif %}

            </div>
        </div>








        <div class="team col-md-4">
            <div class="padding">
                <h2>Команда</h2>


                <div class="row">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/roman.png"/>

                            </td>
                            <td>
                                <h5 class="team-descript"><b>Роман Кульчинський</b></h5>
                                <p class="team-descript">Виконавчий директор ГО «Агенція журналістики даних», головний редактор ТЕКСТІВ. Цінує хороші тексти і вчасні дедлайни.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>




                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/tolik.png"/>

                            </td>
                            <td>
                                <h5 class="team-descript"><b>Анатолій Бондаренко</b></h5>
                                <p class="team-descript"> Заступник головного редактора, керівник напрямку журналістики даних та інфографіки.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>




                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/sashko.png"/>

                            </td>
                            <td>
                                <h5 class="team-descript"><b>Олександр Оксимець</b></h5>
                                <p class="team-descript">Аналітик даних. Збір і аналіз даних. Керівник проекту «Вкрадений Дніпро». Досліджує доступність публічного простору в Києві, маніпуляції громадською думкою за допомогою фальшивих соціологічних досліджень.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>




                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/vlad.png"/>

                            </td>
                            <td>
                                <h5 class="team-descript"><b>Влад Герасименко</b></h5>
                                <p class="team-descript">Програміст. Скрейпінг, обробка даних, аналіз даних. Також створює інтерактивні візуалізації з d3.js, фанатіє від роботи з картами. Цікавиться аналізом даних соціальних мереж.
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>



                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/galyna.png"/>

                            </td>
                            <td>
                                <h5 class="team-descript"><b>Галина Пастух</b></h5>
                                <p class="team-descript">Керівник проектів. Відповідає за організаційний розвиток та роботу з донорами. Має досвід роботи в бізнесі.

                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>



            </div>



                </p>
            </div>
        </div>
    </div>
</div>

<script>
    $('.carousel').carousel()

</script>

<!--{% for file in site.static_files %}-->
<!--{% if file.image %}-->

<!--<img src="{{ file.path }}" alt="{ file.name }">-->

<!--{% endif %}-->
<!--{% endfor %}-->