---
layout: "wrapper"
---
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="page-title">{{ page.title }}</h4>

            <div class="content">
                {{ content }}
            </div>

            <!--social icons-->
            <div id="share-bar">

                <div class="share-buttons">
                    <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                        title="Share on Facebook" >
                        <i class="fa fa-facebook-official share-button"> facebook</i>
                    </a>

                    <a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                        title="Share on Twitter" >
                        <i class="fa fa-twitter share-button"> twitter</i>
                    </a>

                    <!--<a  href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"-->
                        <!--onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"-->
                        <!--title="Share on Google+" >-->
                        <!--<i class="fa fa-google-plus share-button"> google</i>-->
                    <!--</a>-->

                    <!--<a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"-->
                        <!--onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"-->
                        <!--title="Share on LinkedIn" >-->
                        <!--<i class="fa fa-linkedin share-button"> linkedin</i>-->
                    <!--</a>-->


                </div>

            </div><!--end of social icons-->
        </div>
        <div class="col-md-offset-1 col-md-3">
            <h2>Останні новини</h2>
            {% for post in site.posts limit:5 %}

            <h5 class="highlited"><span>{{ post.heading }}</span></h5>
            <p> {{ post.date | date: "%-d-%m-%Y" }}
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>


            {% endfor %}

        </div>


    </div>
    <div id="prefooter"></div>
</div>


