<html>
<head>
    <meta charset="UTF-8">
    <title>{{ siye.title }}</title>
    <link href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <script src="{{ site.baseurl }}/lib/jquery-2.1.4.min.js"></script>
    <script src="{{ site.baseurl }}/lib/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
</head>
<body>


<div id="container">

    <header>
        <div class="container">
            {% include header.html %}
        </div>
    </header>

            <nav class="header-container">
                <ul class="flex-container">
                    <li class="flex-item"><a href="{{ site.baseurl }}">Головна</a></li>
                    <li class="flex-item"><a href="{{ site.baseurl }}/donate">Про нас</a></li>
                    <li class="flex-item"><a href="{{ site.baseurl }}/about">Фінансування</a></li>
                </ul>
            </nav>


    {{ content }}

    <script>


        //    var project = false;

        d3.select('.project').on('click', function () {

            d3.select('.project').classed('project', true).classed("col-md-4", false).classed("col-md-8", true);
            d3.select('.news').classed('news', true).classed("col-md-4", false).classed("col-md-6", false).classed("col-md-2", true);
            d3.select('.team').classed('team', true).classed("col-md-4", false).classed("col-md-8", false).classed("col-md-2", true);

            d3.selectAll(".post-lead").style("display", "none");
            d3.selectAll(".team-descript").style("display", "none");
        });

        d3.select('.news').on('click', function () {
            d3.select('.project').classed('project', true).classed("col-md-8", false).classed("col-md-4", true);
            d3.select('.news').classed('news', true).classed("col-md-4", false).classed("col-md-2", false).classed("col-md-6", true);
            d3.select('.team').classed('team', true).classed("col-md-4", false).classed("col-md-2", true).classed("col-md-8", false);
            d3.selectAll(".post-lead").style("display", "block");
            d3.selectAll(".team-descript").style("display", "none");
        });

        d3.select('.team').on('click', function () {
            d3.select('.project').classed('project', true).classed("col-md-8", false).classed("col-md-4", true);
            d3.select('.news').classed('news', true).classed("col-md-2", false).classed("col-md-6", false).classed("col-md-4", true);
            d3.select('.team').classed('team', true).classed("col-md-2", false).classed("col-md-4", true);
            d3.selectAll(".post-lead").style("display", "block");
            d3.selectAll(".team-descript").style("display", "block");
        });

    </script>
    <script>
        jQuery('li').click(function () {
            jQuery(this).toggleClass('active');
        });
    </script>

    <div id="prefooter"></div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="foot">Громадська організація «Агенція журналістики даних»</p>
                    <p class="foot">Електрона пошта: texty.team@gmail.com</p>
                    </div>
                    <div class="col-md-offset-1 col-md-4">

                        <p class="foot"><a class="foot" href="https://telegram.me/textyorgua" target="_blank">Ми у Телеграмі</a></p>
                        <p class="foot"><a class="foot" href="http://facebook.com/texty.org.ua" target="_blank">Ми у Фейсбуці</a></p>
                        <p class="foot"><a class="foot" href="http://twitter.com/textyorgua" target="_blank">Ми у Твітері</a></p>



                </div>
            </div>
        </div>

    </footer>
</div>
</body>
</html>
